body {
	background-color: white; margin: 0; background-repeat: no-repeat;text-align:center;
}
div#TA{
text-align:center;
}

a {
	font-size: 14px; text-decoration: none; color: black;
	text-align: center; padding-top: 9px; white-space: nowrap;
	display:block; height: 31px; 
	background-repeat: no-repeat;
}
a.short {
	 width:70px;
	 background-color: #DDDDDD;
}
a.middle {
	 width:115px;
	 background: blue;
}
a.long {
	 width:163px;
	background: #DDDDDD;
	text-align:center;
}
a.home {
	padding-top: 0px;
	width: 115px;
}
a.back {
	padding-top: 0px;
	width: 115px;
}
span.title {
	filter: shadow(color=gray,direction=120);height: 32px;
	font: 32px 微软雅黑;
}
.button {
	cursor: hand;
	width: 70px; height: 30px;
}
img {
	border: 0;
}
div#Info
{
	margin-top: 1%;
}
div#butt{
margin: 1%;
}